@charset "UTF-8";
/* Fonts */
/* Colors */
/* Basic CSS */
html {
  min-height: 100%; }

body {
  margin-top: 15px;
  font: normal normal 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serf;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-focus-inner {
  border: 0; }

em, i {
  font-style: italic; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 700; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

hr {
  height: 1px;
  border: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%; }

table {
  table-layout: fixed;
  width: 100%; }
  table th {
    text-align: left; }
    table th[align="left"] {
      text-align: left; }
    table th[align="center"], table th[align="middle"] {
      text-align: center; }
    table th[align="right"] {
      text-align: right; }

.placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

label, input, select, textarea, button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

form label, form input, form button, form select, form textarea {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 1em;
  padding: 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.2s ease; }
  form label:focus, form input:focus, form button:focus, form select:focus, form textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.5); }
form input[type="submit"], form button, form button[type="button"], form input[type="button"], form input[type="reset"], form input[type="submit"] {
  width: auto;
  padding: 0.4em 1em; }
  form input[type="submit"]:hover, form button:hover, form button[type="button"]:hover, form input[type="button"]:hover, form input[type="reset"]:hover, form input[type="submit"]:hover {
    background: black; }
form textarea {
  max-width: 100%; }

.center {
  text-align: center;
  padding: 0 2em; }
  .center img {
    max-width: 100%;
    height: auto; }

/* ############################## */
/*            Main CSS            */
/* ############################## */
/* Back to Top */
.totop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  margin-right: 10px; }
  .totop i {
    margin: 0px; }
  .totop a {
    display: block;
    width: 35px;
    height: 35px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    background-color: #006D99; }
    .totop a:visited {
      display: block;
      width: 30px;
      height: 30px;
      color: #ffffff;
      text-align: center;
      line-height: 30px;
      background-color: #006D99; }
    .totop a:hover {
      color: #ffffff;
      text-decoration: none;
      background-color: #005b80; }

#carousel {
  overflow: hidden;
  max-width: 80%;
  max-height: 300px;
  margin: auto; }
  #carousel .item .carousel-caption {
    bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
    #carousel .item .carousel-caption p {
      font-size: .9em;
      background-color: black;
      opacity: .7; }
  #carousel .item img {
    margin-top: -75px;
    width: 100%; }

.sbseg15 {
  margin-bottom: 10px;
  float: left; }
  .sbseg15 #logo {
    width: 100%;
    max-width: 260px; }
  .sbseg15 #circle {
    width: 100%;
    max-width: 260px;
    top: 0px;
    left: 10px;
    position: absolute;
    z-index: 2; }
  .sbseg15:hover #circle {
    transform: rotate(1080deg);
    transform-origin: 18.8% 50.4%;
    transition: transform 1.5s; }

.simposio-title {
  text-align: right;
  text-transform: uppercase; }
  .simposio-title span {
    color: #006D99;
    display: block; }
  .simposio-title small {
    color: #006D99;
    display: block; }

.side-menu {
  clear: both;
  margin-bottom: 15px; }
  .side-menu ul {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    background-color: #006D99; }
    .side-menu ul li {
      display: block;
      border-bottom: 1px dashed white; }
      .side-menu ul li a {
        display: block;
        padding: 10px 15px;
        color: white;
        text-decoration: none; }
      .side-menu ul li .glyphicon {
        margin-top: 2px;
        float: right; }
      .side-menu ul li:hover {
        background-color: #0086BD; }
  .side-menu .main-nav {
    margin-top: 10px;
    border-top: 1px dashed white; }
    .side-menu .main-nav ul li {
      padding-left: 20px;
      border-top: 1px dashed white;
      border-bottom: none; }
    .side-menu .main-nav .sub-nav {
      z-index: 10;
      display: none;
      position: absolute;
      border-left: 1px solid white;
      min-width: 250px;
      left: 283px;
      margin-top: -42px; }
      @media (max-width: 1200px) {
        .side-menu .main-nav .sub-nav {
          left: 231px; } }

.aside {
  margin-right: 0; }
  .aside h2 {
    font-size: 1.1em;
    color: #0086BD; }
  .aside span {
    display: block;
    color: #006D99;
    font-weight: 600; }
  .aside .promo {
    text-align: center; }
    .aside .promo h2 {
      text-align: left; }
    .aside .promo img {
      max-width: 70px;
      height: auto;
      margin-bottom: 10px; }

.menu-icon {
  float: left;
  color: white;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 10px; }

.box-apresentacao {
  margin-top: 15px; }

.box-chamada h2 {
  color: #0086BD;
  font-size: 1.2em; }

.box-organizacao h2 {
  color: #0086BD; }
.box-organizacao span {
  display: block;
  color: #006D99;
  font-weight: 600; }

.box-topicos {
  background: #006790;
  background: -moz-linear-gradient(top, #006790 0%, #007AA7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006790), color-stop(100%, #007AA7));
  background: -webkit-linear-gradient(top, #006790 0%, #007AA7 100%);
  background: -o-linear-gradient(top, #006790 0%, #007AA7 100%);
  background: -ms-linear-gradient(top, #006790 0%, #007AA7 100%);
  background: linear-gradient(to bottom, #006790 0%, #007AA7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006790', endColorstr='#007AA7',GradientType=0 );
  padding: 20px 10px 10px 10px; }
  .box-topicos h2 {
    color: #B9E0EF;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: 2px dashed #0095CB; }
    .box-topicos h2 img {
      margin-top: -10px;
      float: right; }
  .box-topicos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff; }
    .box-topicos ul li {
      padding-left: 1em;
      text-indent: -.7em; }
      .box-topicos ul li:before {
        content: "• ";
        color: #B9E0EF; }

.box-datas {
  background: #004766;
  background: -moz-linear-gradient(top, #004766 0%, #004F6F 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004766), color-stop(100%, #004F6F));
  background: -webkit-linear-gradient(top, #004766 0%, #004F6F 100%);
  background: -o-linear-gradient(top, #004766 0%, #004F6F 100%);
  background: -ms-linear-gradient(top, #004766 0%, #004F6F 100%);
  background: linear-gradient(to bottom, #004766 0%, #004F6F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004766', endColorstr='#004F6F',GradientType=0 );
  padding: 20px 10px 10px 10px; }
  .box-datas h2 {
    color: #ffffff;
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 4px; }
  .box-datas table {
    color: #ffffff;
    font-size: 1.1em; }
    .box-datas table tr:first-child {
      border-bottom: 2px solid #006D99; }
    .box-datas table tr th {
      text-align: center;
      font-size: .9em;
      color: #B9E0EF; }
      .box-datas table tr th:nth-child(1) {
        width: 30%; }
      .box-datas table tr th:nth-child(2) {
        width: 20%; }
      .box-datas table tr th:nth-child(3) {
        width: 20%; }
      .box-datas table tr th:nth-child(4) {
        width: 30%; }
    .box-datas table tr td:first-child {
      font-weight: 600; }
    .box-datas table tr td:nth-child(2) {
      font-weight: 600;
      color: #0086BD;
      text-align: center; }
    .box-datas table tr td:nth-child(3) {
      text-align: center; }
    .box-datas table tr td:nth-child(4) {
      text-align: center; }

/* Responsive CSS */
/* Tablets */
@media (max-width: 767px) {
  .sub-nav {
    display: block !important;
    position: relative !important;
    min-width: 0 !important;
    left: 0 !important;
    margin-top: 0 !important; } }

/* Mobile */
